.page_create_user {
    .upload_images {
        border: none;
        background: none;
    }
}
//Profile antd datepicker
.ant-picker.form-control {
    .ant-picker-input > input{
        color: #fff;
    }
}
//dropdown select antd
.ant-select-dropdown{
    background-color: #23262d!important;
    border: 1px solid #393c42;
    .ant-select-item.ant-select-item-option{
        color: #fff;
    }
    .ant-select-item.ant-select-item-option:hover{
        color: #23262d;
    }
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: #f5f5f5;
        color: #23262d;
    }
}
//Modal Antd
.dialogWarning {
    button.ant-modal-close, .ant-modal-footer{
        display: none;
    }
    .ant-modal-body{
        text-align: center;
        .swal-modal .swal-title {
            color: rgba(0, 0, 0, 0.65);
            font-weight: 600;
            text-transform: none;
            position: relative;
            display: block;
            font-size: 22px;
            line-height: normal;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 5px;
        }
        .swal-modal .swal-button--confirm {
            color: #fff;
            font-weight: 500;
            background-color: #272a31;
            border: 1px solid #fff;
            padding: 6px 25px !important;
            border-radius: 0;
        }
    }
}
.ant-message-custom-content{
    display: flex;
}