.ant-form-item {
    margin-bottom: 0 !important;
}
.ant-picker {
    height: 100%;
}

.ant-picker-suffix {
    color: #fff;
}

.ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
}

.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error .ant-input:hover,
.ant-form-item-has-error .ant-input-affix-wrapper:hover ,
.ant-form-item-has-error .ant-input-number, 
.ant-form-item-has-error .ant-picker{
    border-color: #ff4d4f !important;
}
