.ant-picker {
    min-height: 40px;
    .anticon-calendar {
        // &::after {
        //     position: absolute;
        //     content: "\f073";
        //     font-size: 16px;
        //     color: #f4a239;
        //     font-family: "Font Awesome 5 Free";
        //     top: 50%;
        //     @include transform(translateY(-50%));
        // }

        svg {
            display: none;
        }
    }

    .ant-picker-suffix {
        color: #fff;
        width: 18px;
        margin-left: 0;
    }
}
.ant-input.form-control {
    &[type="number"] {
        -moz-appearance: textfield;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.ant-input-affix-wrapper{
    .ant-input {
        &:hover,&:focus{
            background-color: transparent !important;
            border: none !important
        }
    }
}
.ant-input {
    @include box-shadow(none !important);
}
.ant-input-number {
    .ant-input-number-input-wrap,
    .ant-input-number-input {
        height: 100%;
    }
    .ant-input-number-handler {
        border: none !important;
        height: auto;
        background-color: transparent !important;
        @include flexbox;
        @include align-items(center);
    }

    .ant-input-number-handler-wrap {
        opacity: 1 !important;
        background: transparent;
        border: none;
        height: 80% !important;
        top: 50%;
        height: 100%;
        @include flexbox;
        @include transform(translateY(-50%));
        @include flex-direction(column);
        @include justify-content(center);
        &:hover .ant-input-number-handler {
            height: auto;
        }
        svg {
            display: none;
        }
        .anticon {
            position: relative;
            display: block;
            margin: 0;
            top: 0;
            transform: none;
            width: 100%;
            right: 0;
            background-color: transparent !important;
            outline: none;
            &::after {
                position: absolute;
                height: 100%;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
                content: "";
                font-size: 12px;
                color: #f4a239;
                font-family: "Font Awesome 5 Free";
            }
        }
        .anticon-up {
            &::after {
                content: "\f0de";
            }
        }
        .anticon-down {
            &::after {
                content: "\f0dd";
            }
        }
        .ant-input-number-handler-up {
            .anticon {
                margin-top: 10px;
            }
        }
        .ant-input-number-handler-down {
            .anticon {
                margin-bottom: 10px;
            }
        }
    }
}
