.select_dark {
    margin-bottom: 15px;

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        height: 40px;
        border-radius: 3px;
        border: solid 1px #393c42;
        background-color: #23262d;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
        line-height: 40px;
        color: #fff;
    }

    .ant-select {
        background-color: transparent !important;
    }

    .ant-select-arrow {
        width: 15px;
        height: 15px;
        z-index: 1;

        &::after {
            @include transform(translateX(-50%));
            position: absolute;
            right: 0;
            font-size: 11px;
            color: #f4a239;
            content: "\f107";
            font-family: "Line Awesome Free";
            font-weight: 900;
        }

        .anticon {
            position: relative;

            svg {
                display: none;
            }
        }
    }

    .ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: #333;
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: #333;
    }

    &--dropdown{
        .ant-empty-small{
            color: #fff;
        }
    }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    outline: none !important;
    box-shadow: none !important;
}

.ant-select-dropdown{
   
    .rc-virtual-list-holder{
        @include scrollbarSquare
    }
    .ant-select-item.ant-select-item-option {
        color: #fff !important;
    }
    .ant-select-item-option {
        background-color: #23262d !important;
        &.ant-select-item-option-active{
            background-color: #f4a239 !important;
        }
    }
}