.switch-custom {
    .ant-switch {
        height: 18px;
        min-width: 28px;
        max-width: 30px;
        border-radius: 12px;
        border: solid 1px #707070;
        background-color: #272a31;
    }
    .ant-switch-checked {
        .ant-switch-handle {
            &::before {
                background-color: #50d441;
            }
        }
    }
    .ant-switch-handle {
        width: 11px;
        height: 11px;
        right: 2px;
        left: auto;
        top: 50%;
        @include transform(translateY(-50%));
        @include transition(all 0.3s ease);
        &::before {
            background-color: #ff3d3d;
            border-radius: 50%;
            @include transition(all 0.3s ease);
        }
    }
    .ant-switch-checked .ant-switch-handle {
        left: 2px;
    }
}
