//btn
$btn_transition: 250ms all ease-in-out;
button {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn {
    // @include fw-medium;
    transition: $btn_transition;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;

    @media (max-width: 480px) {
        padding: 7px 10px 4px 10px;
    }

    &:hover {
        color: grey;
        border: 1px solid grey;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn_grey {
    @include fw-light;
    color: #8b8b8b;
    padding: 3px 0;
    font-size: 6px;
    border: none;
    border-radius: 1px;
    background-color: #242b31;

    &:hover {
        color: #fff;
        border: 1px solid #fff;
    }
}

.btn_orange {
    color: #f4a239;
    border: 1px solid #f4a239;
    padding: 10px;

    &:hover {
        background-color: #f4a239;
        color: #fff;
        border: 1px solid #f4a239;
    }
}

//===
.btn_orange_darius {
    background-image: linear-gradient(to bottom, #f4a239, #db7c03 210%);
    border: 1px solid #f4a239;
    border-radius: 30px;
    padding: 10px;

    &:hover {
        background-image: none;
        color: #f4a239;
        border: 1px solid #f4a239;
    }
}

//===
.btn_none_bg {
    @include fw-normal;
    border-radius: 3px;
    background: none;
    outline: none;
    padding: 5px;

    &:hover {
        opacity: 0.7;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &.red_outline {
        border: 1px solid #ff3d3d;
        color: #ff3d3d;
    }

    &.green_outline {
        border: 1px solid #50d441;
        color: #50d441;
    }

    &.yellow_outline {
        border: 1px solid #f4a239;
        color: #f4a239;
    }

    &.white_outline {
        border: 1px solid #ffffff;
    }
    &.yellow_outline {
        border: 1px solid #f4a239;
    }
}

.btn_closeAll {
    @include fw-normal;
    background-color: #f4a239;
    border: 1px solid #f4a239;
    padding: 5px 18px;
    z-index: 1;

    &:hover {
        background-color: #fff;
        color: #f4a239;
        border: 1px solid #f4a239;
    }
}
.btn_go_back {
    @include fw-normal;
    border: solid 1px #393c42;
    background-color: #212227;
    z-index: 1;
    padding: 6px 10px;
    .icon {
        font-size: 12px;
        color: #f4a239;
        padding-right: 5px;
        margin: 0 !important;
    }

    &:hover {
        color: #f4a239;
        border: 1px solid #f4a239;
    }
}
